<h1>User's summary page</h1>

<h3>Name: <%= @user.name%></h3>
<h4>Age: <%= @user.age%></h4>
<h4>Email: <%= @user.email%></h4>

<% if @user.admin %>
    <h4> Status: ADMIN</h4>
<% end %>
<br>
<h3>What would you like to do today?</h3>

<!-- 1. Make a booking -->
<p> <a href="/bookings">1. Book a new workspace</a></p>

<!-- 2. View list of reserved spaces-->
<p> <a href="/bookings">2. View list of reserved workspaces</a></p>

<!-- 2. Logout -->
<p> <a href="/logout">3. Logout</a></p>
