<h2>Welcome to the WorkSpace Booking App!</h2>

<h3><%= link_to('Log in with Github!', '/auth/github') %></h3>
<h3>If you are an existing user, login below:</h3>
<a href='/login'><button>Login</button></a>

<h3>or, create a new account below:</h3>
<a href='/signup'><button>Signup</button></a>